<!--
マウス（タッチパッド）操作サンプルのlaunch（シミュレータ用）

roslauchを使ってGazebo上でメガローバーを起動してから使用してください。

起動コマンド：roslaunch megarover_samples vmegarover_mousectrl .launch
-->

<launch>
  <!-- マウスによる制御ノード -->
  <node pkg="mouse_teleop" type="mouse_teleop.py" name="mouse_teleop">
    <remap from="/mouse_vel" to="/vmegarover/diff_drive_controller/cmd_vel" />
  </node>
</launch>
